
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  font-family: 'Merriweather', serif;
}
.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: var(--background-color);
}
h1 {
  color: var(--icon-color-title);
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background: var(--background-color-form);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 15px;
}
form h3 {
  text-align: center;
}
.form {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

/* .input_ {
  background: #c3c3c3;
} */
.input_container {
  margin-bottom: 20px;
}
.todo_container {
  width: 40%;
  margin: 0 auto;
}
.todoUnavailable, .todoAvailable {
  margin-top: 20px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoUnavailable {
  background-color: #fff;
  z-index: -1;
}
.todo input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 28px;
  font-weight: 500;
}
.blackBtn {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--background-color);
  color: white;
}
.blackBtn:hover {
  background-color: var(--background-color);
}

.TETST img {
 
  height: 120px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;


  /* display: grid;
  grid-auto-flow: column; */
}
.TETST {
  
  justify-content: center;
  margin-bottom: auto;
  display: flex;
}
.showFilecollapse {
  visibility: hidden;
  display: none;
}

.showFileactive {
  border: 1px solid var(--background-color-border);
  background-color:#fff;
  visibility: visible;
  position: relative;
  display: grid;
/* 
  grid-template-areas: "gridtitle gridtitle ." 
                       "gridinfo gridfiles gridfiles" 
                       "gridinfo gridfiles gridfiles"; */

  /* justify-content: space-between; */
  overflow: hidden;
}
.gridtitle {
  grid-row: 1/2;

}
.gridinfo {
  grid-row: 100px;
  grid-auto-columns: 50px;

}
.gridfiles{
  display: grid;
  grid-row: 100px;
  grid-auto-columns: auto;
  align-items:center;
  gap: 5px 20px;
}

.expired {
   color: red;
   font-weight: 600;
  margin-left: 0;
}

.info {
  padding-top: 20px;
  display: block;
  margin-left: 0;
  margin: 5px;
  background-color: #fff;
  padding: 5px;
}

.time {
  display: inline-block;
  padding: 5px;
  margin-left: -50px;
}

.todoUnAvailable {
  color:aquamarine;
}

.downloadURLdoc {
  display: block;
  width: auto;
  align-items:center;
  left: 0;
}

.downloadURLdoc span .img{
  display: block;
}