
html[data-theme='dark']{

/* input type file */
  --input-text-color-file:rgb(209, 204, 204);
/* bg */
  --background-color:#181818;
  /* form */
  --background-color-form: #404040;

  --icon-color-title:rgb(255, 255, 255);

  --background-color-border: #fff;
  /* button upload */
  --button-background-color: #000;
    /* button upload but hover */
  --button-hover-background-color: rgb(40, 40, 40);;
  --button-background-color-upload: #000;;
}


html[data-theme='light']{
  /* input type file */
  --input-text-color-file:rgb(0, 0, 0);
/* bg */
  --background-color:#a0d2eb;
  /* form */
  --background-color-form: #e5eaf5;

  --icon-color-title:rgb(255, 255, 255);


  /* button upload */
  --button-background-color: #a28089;
    /* button upload but hover */
  --button-hover-background-color: #494d5f;
  --button-background-color-upload: #a28089;
}